@foreach (Dictionary<string, string> job in ViewBag.jobs)
{

    <table class="job-listing">
        @foreach (KeyValuePair<string, string> field in job)
        {
            <tr>
                
                <td><b> @(field.Key.Substring(0, 1).ToUpper() + field.Key.Substring(1))</b></td>

                @if (field.Key != "name")
                    {
                    <td>
                        <a asp-controller="Search"
                           asp-action="Results"
                           asp-route-searchType="@field.Key"
                           asp-route-searchTerm="@field.Value">@field.Value</a>
                    </td>
                }
                else
                {

                    <td>@field.Value</td>
                }

            </tr>
        }
    </table>
}